{% extends "base.html" %}

{% block content %}
<h1 style="text-align: center; font-size: 2em; padding-top: 20px; color: #593bdb;">
    Confirm Delete
</h1>
{% comment %} <p>Are you sure you want to delete "{{ task.name }}"?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit">Delete</button>
    <a href="{% url 'contact_list' %}">Cancel</a>
</form> {% endcomment %}
<div class="card text-center">
    {% comment %} <div class="card-header">
        <h5 class="">Are you sure you want to delete "{{ task.name }}"?</h5>
    </div> {% endcomment %}
    <div class="card-body">

        <form method="post">
            {% csrf_token %}
            {% comment %} <button type="submit">Delete</button>
            <a href="{% url 'contact_list' %}">Cancel</a> {% endcomment %}
            <p class="card-text">Are you sure you want to delete "{{ contact.name }}"?</p>
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'contact_list' %}" class="btn btn-primary">Cancel</a>
        </form>
        {% comment %} <p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content</p> {% endcomment %}
    </div>
    {% comment %} <div class="card-footer">
        <p class="card-text text-dark">Last updateed 3 min ago</p>
    </div> {% endcomment %}
</div>y
{% endblock content %}

